<div class="container">
    @for(task of tasksData; track task ; let i = $index)
    {
        @if(i!=0)
        {
            <hr>
        }
    <div class="item row" (click)="currTask = task; showEditTasks = true">
        <span class="task">{{task.task}}</span>
        <app-type-indicator [type]="task.type" [typesColors]="typesColors"></app-type-indicator>
        <span class="type">{{tasksTypes[task.type]}}</span>
    </div>
    }
</div>


@if(showEditTasks)
{
<app-edit-task [tasksTypes]="tasksTypes" (showThisMessage)="showEditTasks = false" [currTask]="currTask"></app-edit-task>
}