:host{
    position: fixed;
    top: 80px;
    left: 68px;
    width: 100%;
    z-index: 101;
}
.container{
    max-width: 596px;
    max-height: 400px;
    margin-right: 142px;
    background-color: #ffffff ;
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}
.item.row{
    padding: 10px;
    font-size: 1.5rem;
    align-items: center;
}
.type{
    color: #666969;
}
hr{
    width: 95%;
    align-self: center;
    border: 1px solid #eff0ef;
    margin: 10px 0;
}
.item.row:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0.4rem;
}
app-type-indicator{
    margin-right: 5px;
}
.task{
    flex: 1;
}